* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
}

a:link {
	color: #181818;
}

a:visited {
	color: #181818;
}

a:hover {
	color: #181818;
}

img {
	display: block;
}


#head {
	width: 100%;
	height: 706px;
	background: url(../img/20181024/yhq_01.jpg) top center no-repeat;
	position: relative;
}

#item1 {
	width: 100%;
	height: 574px;
	border: none;
	margin-top: 0;
	background: url(../img/20181024/yhq_02.jpg) top center no-repeat;
}

#item2 {
	width: 100%;
	height: 526px;
	border: none;
	margin-top: 0;
	background: url(../img/20181024/yhq_03.jpg) top center no-repeat;
}

#item3 {
	width: 100%;
	height: 536px;
	border: none;
	margin-top: 0;
	background: url(../img/20181024/yhq_04.jpg) top center no-repeat;
}

#item4 {
	width: 100%;
	height: 541px;
	border: none;
	margin-top: 0;
	background: url(../img/20181024/yhq_05.jpg) top center no-repeat;
}

#item5 {
	width: 100%;
	height: 535px;
	border: none;
	margin-top: 0;
	background: url(../img/20181024/yhq_06.jpg) top center no-repeat;
}

#item6 {
	width: 100%;
	height: 548px;
	border: none;
	margin-top: 0;
	background: url(../img/20181024/yhq_07.jpg) top center no-repeat;
}

#item7 {
	width: 100%;
	height: 535px;
	border: none;
	margin-top: 0;
	background: url(../img/20181024/yhq_08.jpg) top center no-repeat;
}

#item8 {
	width: 100%;
	height: 684px;
	border: none;
	margin-top: 0;
	background: url(../img/20181024/yhq_09.jpg) top center no-repeat;
}
.mkf_item1, 
.mkf_item3,
.mkf_item8{
	position: absolute;	
	margin-left: 550px;
	width: 817px;
	height: 249px;
	/*background: pink;*/
}
.mkf_item2_1,
.mkf_item4_1,
.mkf_item5_1,
.mkf_item6_1,
.mkf_item7_1{
	position: absolute;		
	width: 345px;
	height: 206px;
	/*background: pink;*/
}
.mkf_item2_2,
.mkf_item4_2,
.mkf_item5_2,
.mkf_item6_2,
.mkf_item7_2{
	position: absolute;		
	width: 345px;
	height: 206px;
	/*background: pink;*/
}
.mkf_item2_3,
.mkf_item4_3,
.mkf_item5_3,
.mkf_item7_3{
	position: absolute;		
	width: 345px;
	height: 206px;
	/*background: pink;*/
}
.mkf_item1{
	margin-top: 241px;
}
.mkf_item2_1 {
	margin-top: 206px;
	margin-left: 407px;
}
.mkf_item2_2{
	margin-top: 206px;
	margin-left: 774px;
}
.mkf_item2_3{
	margin-top: 206px;
	margin-left: 1137px;
}
.mkf_item3 {
	margin-top: 196px;
}
.mkf_item4_1 {
	margin-top: 218px;
	margin-left: 416px;
}
.mkf_item4_2{
	margin-top: 218px;
	margin-left: 777px;
}
.mkf_item4_3{
	margin-top: 218px;
	margin-left: 1137px;
}
.mkf_item5_1 {
	margin-top: 214px;
	margin-left: 416px;
}
.mkf_item5_2{
	margin-top: 214px;
	margin-left: 779px;
}
.mkf_item5_3{
	margin-top: 214px;
	margin-left: 1142px;
}
.mkf_item6_1 {
	margin-top: 201px;
	margin-left: 550px;
	width: 396px;
	height: 237px;
}
.mkf_item6_2{
	margin-top: 201px;
	margin-left: 967px;
	width: 396px;
	height: 237px;
}
.mkf_item7_1 {
	margin-top: 205px;
	margin-left: 416px;
}
.mkf_item7_2{
	margin-top: 205px;
	margin-left: 779px;
}
.mkf_item7_3{
	margin-top: 205px;
	margin-left: 1142px;
}
.mkf_item8 {
	margin-top: 185px;
}


